/* Core ----------------------- */
$PDS_black: #000000;
$PDS_white: #ffffff;

/* Grays ---------------------- */
$GR500: #404040;
$GR400: #525252;
$GR300: #a2a2a2;
$GR200: #cccccc;
$GR100: #ebebeb;
$GR50: #f1f3f4;
$GR25: #f8f9fb;

/* Neutrals ------------------- */
$N700: #4B6479;
$N600: #43515C;
$N500: #353b46;
$N400: #464f5e;
$N300: #637085;
$N200: #8c95a8;
$N100: #aeb5c2;
$N75: #d1d5dc;
$N50: #e8eaee;
$N40: #f4f6fa;

/* Primary -------------------- */
$P500: #1d3734;
$P400: #3c6d68;
$P300: #5ca59b;
$P200: #58d7c9;
$P100: #91dfd5;
$P75: #c1e5e2;
$P50: #d8f4f2;
/* Blue ----------------------- */
$B600: #0A66C2;
$B500: #0c0b3b;
$B400: #1c1876;
$B300: #2927b2;
$B200: #4d3ee0;
$B100: #7571e0;
$B75: #a391f2;
$B50: #cac1f2;
$B40: #eae8fb;

/* Kobe ----------------------- */
$K500: #491f08;
$K400: #913d1c;
$K300: #da5c30;
$K200: #f6814b;
$K100: #eba47f;
$K75: #f0c1a8;
$K50: #f7e1d4;

/* Brown ---------------------- */
$BR500: #4a350f;
$BR400: #956727;
$BR300: #e09e3e;
$BR200: #f8ba4b;
$BR100: #facd78;
$BR75: #f5ddab;
$BR50: #fbedd5;
/* Red ------------------------ */
$R500: #c40f24;
$R400: #ef233c;
$R300: #f14458;
$R200: #f36374;
$R100: #f9b1b9;
$R75: #fcd9dd;

/* Yellow --------------------- */
$Y500: #ba4800;
$Y400: #df6e38;
$Y300: #ff8b00;
$Y200: #ffcd92;
$Y100: #fffae6;

/* Green ---------------------- */
$G500: #006644;
$G400: #00875a;
$G300: #36b37e;
$G200: #85dbbe;
$G100: #e6f9f3;

$PDS_mainFocusColor: #{$B200};

$linkedin-bg:#0A66C2;
$google-plus-bg:#DB4E3D;
$facebook-bg:#1877F2;
$twitter-bg: #1DA1F2;
$wechat-bg: #7BB32E;
$insta-bg: #E1306C;
$indeed-bg: #2164F4;
$github-bg: #333333;
$large-screen-breakpoint:5000px;
